<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>>
  <div class="nav-header">
  <ul>
    <li>
      <%= link_to admin_categories_path, class: "active" do %>
        Categories
      <% end %>
    </li>
    <li>
      <%= link_to admin_products_path do %>
        Products
      <% end %>
    </li>
  </ul>
  </div>
      <%= yield %>
  </body>
</html>